<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="PlatformSymbols" value="http://corp-tfs05:8080/tfs/NDCollection/_packaging/PlatformSymbols/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>